@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --button-red: #ae0508;
    --button-login: #d6901e;
    --background-color: #151414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
}

.flex-box {
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
}

.list ul li {
    display: inline-block;
    margin-top: 12px;
    margin-left: 5px;
    vertical-align: middle;
}

#user {
    position: absolute;
    left: 10px;
    top: 7px;
    color: var(--button-login);
}
.login-nav{
    position: relative;
    margin-left: 10px;
}
.input-field {
    background-color: transparent;
    width: 160px;
    max-width: 100%;
    padding-left: 25px;
    border-radius: 50px;
    outline: none;
    border: 1px solid gray;
    height: 26px;
    color: white;
    font-size: 13px;
}
.input-field::placeholder{
    font-size: 13px;
    position: relative;
    bottom: 0;
}
.button-nav {
    width: 80px;
    position: relative;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 2px 0px;
    font-size: 14px;
}
.colornav{
    background-image: linear-gradient(to bottom, #dbac54 0%,#dbac54 50%, #d6901e 0%, #d6901e 100%);
}
.btn-red {
    background: var(--button-red);
}

.btn-yellow {
    background: var(--button-login);
}
.nav-link{
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    color: black;
    font-family: 'Poppins', sans-serif;
}